/* ---------- OVERRIDE BOOTSTRAP CSS ---------- */

.btn-register {
  background-image: linear-gradient(to bottom, white 0%, white 100%);
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}

.star-icon {
  color: rgba(255, 106, 0, 0.825);
}

@media only screen and (max-width: 650px) {
  .company-logo {
    display: none;
  }
}

@media only screen and (min-width: 650px) and (max-width: 992px) {
  .company-logo {
    display: none;
  }
}
