/* ---------- OVERRIDE BOOTSTRAP CSS ---------- */

.btn-register {
  background-image: linear-gradient(to bottom, white 0%, white 100%);
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}

.star-icon {
  color: orange;
}
